views/index.pug
﻿extends layout

block content
  .main-container
    ul#recordingslist
    form
      .form-row
        .form-group.col-md-6
          label(for='inputEmail4') Họ tên
          input#name.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("name")',type='button') Ghi âm
        .form-group.col-md-6
          label(for='inputPassword4') Giới tính
          input#gender.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("gender")',type='button') Ghi âm
      .form-row
        .form-group.col-md-6
          label(for='inputEmail4') Địa chỉ
          input#address.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("address")',type='button') Ghi âm
        .form-group.col-md-6
          label(for='inputPassword4') Số điện thoại
          input#phone.form-control(type='text')
          button.btn-name.btn.btn-primary(onclick='handle("phone")',type='button') Ghi âm
      //- button.btn-recorder.btn.btn-primary(type='button') Bắt đầu
      //- span |
      //- span.text-current Nhập Họ tên
      //- span |
      //- span.text-time Kết thúc sau 5s
      

dist/index.html
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express - Node.js Express Application</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/recorder.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header"><button class="navbar-toggle" type="button" data-toggle="collapse"
          data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span
            class="icon-bar"></span></button><a class="navbar-brand" href="/">Speech To Text</a></div>
    </div>
  </div>
  <div class="container body-content">
    <div class="main-container">
      <ul id="recordingslist"></ul>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6"><label for="inputEmail4">Họ tên</label><input class="form-control" id="name"
              type="text"><button class="btn-name btn btn-primary" onclick="handle('name')" type="button">Ghi
              âm</button>
          </div>
          <div class="form-group col-md-6"><label for="inputPassword4">Giới tính</label><input class="form-control"
              id="gender" type="text"><button class="btn-gender btn btn-primary" onclick="handle('gender')"
              type="button">Ghi
              âm</button></div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6"><label for="inputEmail4">Địa chỉ</label><input class="form-control"
              id="address" type="text"><button class="btn-address btn btn-primary" onclick="handle('address')"
              type="button">Ghi
              âm</button></div>
          <div class="form-group col-md-6"><label for="inputPassword4">Số điện thoại</label><input class="form-control"
              id="phone" type="text"><button class="btn-phone btn btn-primary" onclick="handle('phone')"
              type="button">Ghi
              âm</button></div>
        </div>
      </form>
    </div>
    <hr>
    <footer>
      <p>&copy; Designed by Nhutdev</p>
    </footer>
  </div>
</body>

</html>
